.menu {
  width: 100%;
}
.menu > .content {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.menu > .content > .inContent > .closeBtn {
  font-size: 0.32rem;
  font-weight: normal;
  padding: 0.4rem 0 0 0.3rem;
  color: #40AFFC;
  cursor: pointer;
}
.menu > .content > .inContent > .title {
  padding: 0.4rem 0.3rem 0.2rem 0.3rem;
  font-size: 0.24rem;
}
.menu > .content > .inContent > .commonUse {
  width: 100%;
  padding: 0.2rem 0.3rem;
  background-color: #fff;
}
.menu > .content > .inContent > .commonUse > li {
  width: 1.2rem;
  height: 1.2rem;
  color: #fff;
  font-size: 0.28rem;
  line-height: 1.2rem;
  background-color: #1E98FF;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.2rem;
  cursor: pointer;
}
.menu > .content > .inContent > .group {
  background-color: #fff;
}
.menu > .content > .inContent > .group .inputFile {
  background-color: #fff;
}
.menu > .content > .inContent > .group .inputFile > .my-row {
  padding: 0 0.3rem;
  height: 1.12rem;
  margin: 0;
  cursor: pointer;
}
.menu > .content > .inContent > .group .inputFile > .my-row > .my-col {
  height: 100%;
  padding: 0;
  border-bottom: 1px solid #f5f5f5;
}
.menu > .content > .inContent > .group .inputFile > .my-row > .my-col > span,
.menu > .content > .inContent > .group .inputFile > .my-row > .my-col > p {
  line-height: 1rem;
}
.menu > .content > .inContent > .group .inputFile > .my-row > .my-col > p {
  font-size: 0.24rem;
  color: #999;
  font-weight: normal;
}
.menu > .content > .inContent > .group .inputFile > .my-row > .my-col > p > i {
  font-style: normal;
  position: relative;
  top: -0.04rem;
}
.menu > .content > .inContent > .group .inputFile > .my-row > .my-col > p > .glyphicon-menu-right {
  font-size: 0.32rem;
  font-weight: lighter;
}
.menu > .content > .inContent > .group .inputFile > .my-row > .my-col > p > .hasselect {
  color: #48CFAD;
}
.menu > .content > .inContent > .group .my-breadcrumb {
  margin: 0.2rem 0 0 0;
}
.menu > .content > .inContent > .group .my-breadcrumb > li {
  font-size: 0.24rem;
}
.menu > .content > .inContent > .group .my-breadcrumb > li > a {
  color: #999;
}
.menu > .content > .inContent > .group .my-breadcrumb > li.active > a {
  color: #1E98FF;
}
.menu > .content > .inContent > .group .my-breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "〉";
}
.menu > .content > .inContent > .group .searchApproval {
  height: 0.6rem;
  padding: 0 0.3rem;
  margin: 0.4rem 0 0.1rem;
}
.menu > .content > .inContent > .group .searchApproval > .input-group-addon {
  border: 0;
  background-color: #F4F3F4;
  padding-right: 0.1rem;
}
.menu > .content > .inContent > .group .searchApproval > .input-group-addon > .my-icon {
  color: #999;
  font-weight: lighter;
  font-size: 0.24rem;
  position: relative;
  top: 0.06rem;
}
.menu > .content > .inContent > .group .searchApproval > .searchApprovalInput {
  border: 0;
  padding-left: 0;
  background-color: #F4F3F4;
  -webkit-box-shadow: inset 0 1px 1px #F4F3F4;
  -moz-box-shadow: inset 0 1px 1px #F4F3F4;
  -ms-box-shadow: inset 0 1px 1px #F4F3F4;
  -o-box-shadow: inset 0 1px 1px #F4F3F4;
  box-shadow: inset 0 1px 1px #F4F3F4;
}
.menu > .content > .inContent > .group .searchApproval > .searchApprovalInput::-webkit-input-placeholder {
  color: #999;
  font-size: 0.28rem;
  font-weight: normal;
}
.menu > .content > .inContent > .input-group {
  margin-top: 0.2rem;
  padding: 0.1rem 0;
  background-color: #fff;
}
.menu > .content > .inContent > .input-group > .input-group-addon {
  background-color: #fff;
  border: 0;
  padding-right: 0.1rem;
}
.menu > .content > .inContent > .input-group > .input-group-addon > .my-icon {
  font-size: 0.24rem;
  color: #bcbcbc;
  font-weight: lighter;
}
.menu > .content > .inContent > .input-group > .form-control {
  border: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow: inset 0 1px 1px #fff;
  -ms-box-shadow: inset 0 1px 1px #fff;
  -o-box-shadow: inset 0 1px 1px #fff;
  box-shadow: inset 0 1px 1px #fff;
  padding-left: 0;
}
.menu > .content > .inContent > .input-group > .form-control::-webkit-input-placeholder {
  color: #bcbcbc;
  font-size: 0.30rem;
  font-weight: normal;
}
.menu > .depart {
  display: none;
}
.menu > .depart .glyphicon-ok {
  border: 1px solid #ccc;
}
.deleteApprover .modal-footer {
  border-top: 0;
  padding: 0;
}
.deleteApprover .modal-footer > .btn-group > .btn {
  border: 0;
  padding: 0;
  padding: 0.25rem 0;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.1);
  -moz-box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.1);
  -ms-box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.1);
  -o-box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.1);
  box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.1);
}
.deleteApprover .modal-footer > .btn-group > .cancleBtn {
  color: #FF5555;
  border-top: 1px solid #FF5555;
  border-top-left-radius: 0;
}
.deleteApprover .modal-footer > .btn-group > .confirmBtn {
  color: #fff;
  background-color: #FF5555;
  border-top-right-radius: 0;
}
